<h1>Create Songs</h1>

<form action="/songs" method = "POST">

    <label>Name</label>
        <input type="text" name = "song[name]">
<br>

    <label>Artist</label>

    <select name = song[artist_id]>

    <%@artists.each do |artist|%>
        <option value="<%=artist.id%>"><%=artist.name%></option>
    <%end%>
<br><br>
    <%@genres.each do |genre|%>
    <p>
        <input type='checkbox' name = "genre_ids[]" value="<%=genre.id%>"><%=genre.name%></input></p>
    <%end%>
<br>
    <input type="submit">
</form>