<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Users/Janu/Development/ModuleTwo/playlister-sinatra-houston-web-100818/app/views/styles.css">
    <title></title>
  </head>

  <body>
    <div class="swag" style=" margin-left: 20%; margin-right: 20%;">
      <%= yield %>
    </div>
  </body>
</html>